.navbar {
    background: #5fb1e5;
    padding-left: 40px;
    color: white;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.navbar button {
    background: #ffffff;
    border: 1px solid #636363;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}