.Navbar {
    background: #5fb1e5;
    padding-left: 40px;
    color: white;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.Navbar h2 {
    margin-left: 50px;
    margin-right: 40vw;
    color: white;
}

.Navbar button {
    color: rgb(233, 233, 233);
    background: #5fb1e5;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
}

.Navbar button:hover {
    color: rgb(255, 255, 255);
}